html {
  min-width: var(--min-width);
  background: #303030;
  line-height: 1.777;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-stack);
  font-size: 18px;
  color: #ebebeb;
  scroll-behavior: smooth;

  @media (--md) {
    line-height: 1.5;
    font-size: 16px;
  }

  &.viewport-height {
    height: 100%;
    & body {
      height: 100%;
    }
    & .page {
      position: fixed;
      height: 100% !important;
    }
  }
}

body {
  position: relative;
  margin: 0;
}

.page {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden !important;
}

main {
  position: relative;
  z-index: 0;
  /* max-width: var(--max-width); */
  margin: 0 auto;
  /* padding: 0 16px; */
  box-sizing: border-box;
}
