.catalog-grid {
  & .catalog-grid__item,
  & .catalog-grid__grid-sizer {
    width: calc(33.3333% - 20px);
    box-sizing: border-box;

    @media (--lg) {
      & {
        width: calc(50% - 12px);
      }
    }

    @media (--sm) {
      & {
        width: 100%;
      }
    }
  }

  & .catalog-grid__item {
    position: relative;
    margin-bottom: 24px;
    background-color: #000;

    &:hover {
      & .catalog-grid__inner {
        opacity: 0.7;
      }

      & .catalog-grid__text {
        opacity: 1;
      }
    }
  }

  & .catalog-grid__inner {
    position: relative;
    opacity: 1;
    transition: 300ms opacity ease-in-out;
  }

  & .catalog-grid__image {
    width: 100%;
    height: auto;
    vertical-align: top;
  }

  & .catalog-grid__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32px;
    z-index: 1;
    line-height: 1.5;
    font-size: 17px;
    color: #fff;
    opacity: 0.9;

    &:after {
      content: "";
      border: solid;
      border-width: 0 2px 2px 0;
      position: relative;
      display: inline-block;
      left: 3px;
      padding: 3px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}
