.content-items {
  margin-top: -40px;
}

.content-items-title {
  margin: 0;
  margin-top: calc((var(--gutter-width, 32px) * 2));
  margin-bottom: var(--gutter-width, 32px);
  line-height: 1.4;
  font-size: 1.44em;
  font-weight: 500;
  color: #fff;

  &:first-child {
    margin-top: 0;
  }
}

.content-item {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  margin-top: 40px;
  background: #444;
  color: #fff;
  text-decoration: none;

  & .content-item__illustration {
    height: 236px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  & .content-item__text {
    height: 64px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #232323;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & .content-item__text__label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      line-height: 32px;
    }
  }
}

.link--reset {
  text-decoration: none;
  color: inherit;
}

.button--reset {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  text-align: left;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.button--block {
  width: 100%;
}

.o-button {
  padding: 16px 24px;
  border: none;
  border-radius: 3px;
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.button {
  padding: 16px 24px;
  border: none;
  border-radius: 3px;
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.o-link {
  color: inherit;
  text-decoration: none;

  &.o-link--dashed {
    border-bottom: 1px dashed #333;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}
