.footer {
  background-color: #1d1d1d;
  font-size: 16px;
  color: #a7a7a7;

  & .footer-wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
  }

  & .footer__logo {
    position: relative;
    display: block;
    height: 32px;
    width: 170px;
    margin-top: 6px;
    margin-bottom: 16px;

    & .inline-icon {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;
    }
  }

  & .footer_contact-us {
    font-size: 1rem;
    color: #fff;
  }

  & .footer__group {
    margin-bottom: 2rem;
  }

  & .footer__group-title {
    margin-bottom: 24px;
    font-size: 16px;
    color: #fff;
  }

  & .footer__group-link-wr {
    line-height: 1;
    margin: 0 0 16px 0;
  }

  & .footer__link {
    line-height: 1.15;
    font-size: 16px;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  & .footer__salon {
    margin-bottom: 32px;

    & .footer__salon-name {
      font-size: inherit;
      color: #e3e3e3;
    }

    & .footer__salon-name,
    & .footer__salon-address {
      margin-bottom: 0.5em;
    }
  }

  & .copyright {
    float: left;
    margin-right: 40px;
    font-size: 14px;
  }

  & .legal-links {
    float: left;
    font-size: 14px;
  }

  & .legal-link {
    display: inline-block;
    margin-right: 6px;
    padding-right: 12px;
    border-right: 1px solid #515151;
    line-height: 1.2;
    font-size: inherit;
    white-space: nowrap;

    &:last-child {
      border-right: none;
    }
  }

  & .instagram-icon {
    width: 1rem;
    height: 1rem;
  }
}
