.modal .form {
  & .form__title {
    color: #333;
  }
  & .form__container {
    & input,
    & select {
      background-color: #ececec;
      color: #000000;
      &::placeholder {
        color: #4e4e4e;
      }
    }
  }
}

.form {
  & .form__title {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #fff;
  }

  & .form__container {
    margin-bottom: 24px;

    & input[type="checkbox"] {
    }

    & .form__input,
    & select,
    & textarea {
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
      border: none;
      border-radius: 3px;
      background-color: #232323;
      font: 400 1rem/1.4 "Roboto", sans-serif;
      color: #fff;

      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;

      &::placeholder {
        font-size: 1rem;
        color: #b3b3b3;
      }
    }

    & .select-label {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        width: 0;
        height: 0;
        border-color: #fff transparent transparent;
        border-style: solid;
        border-width: 6px 5px 0;
      }
    }

    & .form__agree {
      font-size: 14px;
    }
  }

  & .form__button {
    margin-top: 16px;
    margin-right: 8px;
    padding: 16px 32px;
    border-radius: 3px;
    background: #151515;
    color: #fff;
  }
}

.form.dark-theme {
  & .form__input,
  & select,
  & textarea {
    background-color: #151515;
  }
}
