/*Full viewport gallery of products*/

.o-button.button-calculate-form {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(50%, -100%, 0) rotate(-90deg);
  transform-origin: 50% 100%;
  border-radius: 3px 3px 0 0;
}

.pg__wrapper.gallery-extended {
  position: relative;
  height: 100vh;
  margin-top: -88px;
}

.pg__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 100vh;

  & .pg {
    height: 100%;
    padding-bottom: 102px;

    & .slick-list,
    & .slick-track {
      height: 100%;
    }

    & .owl-carousel,
    & .owl-stage-outer,
    & .owl-stage,
    & .owl-item,
    & .slide-image {
      height: 100%;
    }

    & .slide-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      font-family: "object-fit: contain;";
    }
  }

  & .pg__nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);

    & .pg__nav-inner {
      margin: 8px auto;

      & .slick-prev:before,
      & .slick-next:before {
        color: #777;
      }
    }

    & .pg__nav-item {
      padding: 8px;
      box-sizing: border-box;

      & .nav-item__inner {
        position: relative;
        width: 100%;
        height: 70px;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 0;
          background: rgba(0, 0, 0, 0.4);
        }
      }

      & .nav-item__number {
        position: relative;
        z-index: 1;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}

.gallery-grid {
  display: flex;
  margin-top: -88px;
  margin-bottom: 24px;
  background-color: #1d1d1d;

  @media (max-width: 1280px) {
    flex-direction: column;
    margin-top: 0;
  }

  & .gallery-main,
  & .gallery-summary {
    height: 100vh;
    padding-top: 128px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }

  & .gallery-main {
    flex: 1;
    padding: 128px 16px 32px;
    overflow: hidden;

    @media (max-width: 1280px) {
      height: 65vh;
      padding: 0;
    }

    @media (max-width: 1024px) {
      height: 50vh;
    }
  }

  & .swiper-container {
    height: 100%;
    width: 100%;
  }

  & .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .swiper-slide-image {
    max-height: 100%;
    max-width: 100%;
  }

  & .gallery-summary {
    flex: 0 0 528px;
    display: flex;
    flex-direction: column;
    padding-right: 68px;
    padding-left: 80px;
    background-color: #232323;

    @media (max-width: 1600px) {
      flex-basis: 400px;
      padding-right: 40px;
      padding-left: 40px;
    }

    @media (max-width: 1280px) {
      flex-basis: auto;
      height: auto;
      padding: 32px 24px;
    }
  }

  & .swiper-pagination {
    position: relative;
    flex: 1;
    margin-bottom: 1.5rem;
    padding: 4px;
    overflow-y: auto;
    text-align: left;

    @media (min-width: 1281px) {
      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media (max-width: 1280px) {
      margin-bottom: 0;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  & .swiper-pagination__item-wrapper {
    position: relative;
    width: auto;
    height: auto;
    margin-bottom: 12px;
    margin-right: 12px;
    padding: 4px;
    background: none;
    opacity: 1;
    font-size: 0;
  }

  & .summary-title {
    padding: 0 4px;
    line-height: 1.16;
    font-size: 32px;
    font-weight: 400;

    @media (max-width: 1600px) {
      font-size: 24px;
    }
  }

  & .swiper-pagination__item {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 0;
    opacity: 0.4;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

    @media (max-width: 1600px) {
      width: 84px;
      height: 84px;
    }
  }

  & .swiper-pagination__item-wrapper.active {
    outline: 3px solid #727272;

    & .swiper-pagination__item {
      opacity: 0.7;
    }
  }

  & .swiper-pagination__index {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }

  & .contactUs-link {
    flex: 0 0 auto;
    padding: 0 4px;
    @media (max-width: 1280px) {
      display: none;
    }
  }
}
