.header__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 24px;
}

.header {
  position: relative;
  z-index: 100;
  margin: 0 16px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  @media (--md) {
    font-size: 14px;
  }
}

.header__inner {
  display: flex;
  height: 64px;
  padding: 0 24px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  background: #fff;
}

.header__logo {
  width: 170px;
  height: 32px;
  margin-right: 20px;
}

.header__menubutton-layout {
  height: 100%;
  margin-right: 24px;

  &:before {
    content: "";
    position: absolute;
    top: 16px;
    height: 32px;
    width: 1px;
    background: rgba(0, 0, 0, 0.17);
  }

  & .header__nav-item {
    padding-left: 10px;
  }
}

.header__menubutton {
  text-transform: uppercase;
  font-weight: 600 !important;
}

.header__phone {
  & .phone__number {
    font-size: 1rem;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #333;
  }
  & .phone__icon {
    line-height: 0;
    display: none;
  }
}

/* Desktop navigation */

.header__nav {
  display: flex;
  height: 100%;
  margin-left: auto;
  margin-right: 24px;
  align-items: center;

  & .is-moreMenu {
    display: none;
  }
}

.header__nav-item {
  & .header__nav-link {
    padding: 0 12px;
  }

  &.has-dropdown {
    height: 100%;
  }

  & .header__nav-button {
    height: 100%;
    padding: 3px 10px 0;
    border-bottom: 3px solid transparent;
    font-weight: 400;
    font-size: 16px;
    @media (--md) {
      font-size: 14px;
    }
  }

  &.active {
    & .header__nav-button {
      border-bottom: 3px solid #e31724;
    }
    & .c-nav-dropdown {
      display: block;
    }
  }

  & .c-nav-dropdown {
    position: absolute;
    z-index: -1;
    top: 61px;
    left: 0;
    display: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px;
    background: #fff;
    box-shadow: inset 0 30px 80px -20px rgba(0, 0, 0, 0.22);

    & .c-nav-dropdown__layout {
      margin: 48px 64px 32px;
      overflow: hidden;
    }

    & .c-nav-dropdown__group {
      border-right: 1px solid #d9d9d9;
    }

    & .c-nav-dropdown__link {
      display: block;
      margin: 16px 0;
    }
  }
}

/*Laptop*/

@media (max-width: 1280px) {
  .header__wrapper {
    padding: 0;
  }
  .header {
    margin: 0;
  }
  .header__inner {
    border-radius: 0;
  }
  .header__logo {
    width: 130px;
    height: 25px;
  }
  .header__menubutton-layout {
    margin: 0;
    & .header__nav-item {
      padding-left: 0;
    }
    &:before {
      content: none;
    }
  }
  .header__menubutton {
    text-transform: none;
  }
  .header__nav {
    margin-left: 0;
    margin-right: auto;

    & .is-discounts,
    & .is-reviews,
    & .is-news {
      display: none;
    }

    & .is-moreMenu {
      display: block;
    }
  }
  .header__phone .phone__number {
    font-size: 16px;
  }
}

/*Mobile*/

.header__icon-burger {
  display: none;
  width: 48px;
  height: 48px;
  padding: 12px !important;
  line-height: 0;
}

@media (max-width: 1023px) {
  .header__wrapper {
    padding: 0;
  }

  .header {
    margin: 0;
  }

  .header__inner {
    padding: 0 8px;
    border-radius: 0;
  }

  .header__icon-burger {
    display: block;
  }

  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 130px;
    height: 25px;
    margin: 0;
  }

  .header__menubutton-layout {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__phone {
    width: 48px;
    height: 48px;
    padding: 12px;
    box-sizing: border-box;
    line-height: 0;

    & .phone__number {
      display: none;
    }

    & .phone__icon {
      display: block;
    }
  }
}

/*Mobile navigation*/

.nav-active .page {
  position: fixed;
  overflow: hidden !important;
}

.nav-list,
.nav-list__dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list__dropdown {
  position: absolute;
  height: 0;
  visibility: hidden;
  padding: 14px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, -15px, 0);
  line-height: 1.35;
  font-weight: 300;
  font-size: inherit;

  & .nav-item-2 {
    margin: 0;
    border-bottom: 1px solid #eee;
  }
}

.nav-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  padding: 80px 40px 32px;
  box-sizing: border-box;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  transform: translate3d(0, -10px, 0);
  transition: all 0.2s ease-in;
  line-height: 2.2;
  font-size: 18px;

  & .nav-item-1 {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: inherit;
    font-size: inherit;
    font-weight: 400;
    opacity: 1;
    transition: opacity ease-out 300ms;

    & > .nav-link,
    & > .nav-list__dropdown-button {
      border-bottom: 1px solid #ddd;
    }

    & .nav-item-2 {
      line-height: 1.4;
      font-size: 17px;
      padding: 6px 0;
    }

    /* &.active,
    &:hover {
      opacity: 0.48;
    } */
  }

  & .nav-list__dropdown-button {
    position: relative;
    display: block;
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 5px 0;
      border-color: #555 transparent transparent;
    }
  }
}

.nav-active .nav-list {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.nav-list__dropdown-group.active .nav-list__dropdown {
  height: auto;
  visibility: visible;
  position: static;
  line-height: 2;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}

.current > .nav-link,
.current > .nav-list__dropdown-button {
  opacity: 0.48;
}

/* .nav-list__dropdown-group.nav-item-1 .current .nav-link {
  opacity: 0.48;
} */
