.home-hero {
  position: relative;
  z-index: 0;
  height: 70vh;
  /* height: calc(100vh - 250px); */
  height: calc(100vh - 140px);
  margin-top: -88px;
  overflow: hidden;

  @media (max-width: 1280px) {
    margin-top: 0;
    height: calc(100vh - 204px);
  }

  /* @media (max-width: 1023px) {
    height: 50vh;
  } */

  /* &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
  } */

  & .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .slide-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      display: block;
      background: rgba(40, 40, 40, 0.5);
      pointer-events: none;
    }
  }

  & .swiper-slide-active .kenBurnsCenter {
    animation: kenBurnsCenter 25s linear infinite alternate;
  }

  /* & .swiper-slide-active .fadeInDown {
    visibility: visible
  }
*/
  & .animated {
    opacity: 0;
  }

  & .swiper-slide__content {
    position: relative;
    z-index: 1;
    padding: 0 40px;
    text-align: center;
  }

  & .swiper-slide__headline {
    line-height: 1;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: -0.025em;

    @media (max-width: 1280px) {
      font-size: 40px;
    }

    @media (max-width: 1280px) {
      font-size: 32px;
    }
  }

  & .swiper-slide__intro {
    color: #fff;
    font-size: 24px;
    font-weight: 400;

    @media (max-width: 1280px) {
      font-size: 20px;
    }

    @media (max-width: 1280px) {
      font-size: 18px;
    }
  }

  &.slick-initialized {
    visibility: visible;
  }

  & .slick-list,
  & .slick-track {
    height: 100%;
    width: 100%;
  }

  & .home-hero__image {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    font-family: "object-fit: cover; object-position: center;";
  }
}

@keyframes kenBurnsCenter {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  to {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
  }
}

.home-localnav {
  /* margin-top: 3rem; */
  margin-top: 1.5rem;

  & .home-localnav__title {
    font-size: 18px;
  }

  & .home-localnav__body {
    overflow: hidden;

    & .list-with-bottom-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -2.5rem;
    }

    & .item {
      flex: 1 0 120px;
      margin-top: 2.5rem;

      & .label {
        font-size: 16px;
      }

      &.is-empty {
        height: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }

      @media (min-width: 1200px) {
        & {
          flex: 0 0 85px;
        }
        &.is-empty {
          display: none;
        }
      }

      @media (max-width: 425px) {
        & {
          flex: 1 0 100px;
        }
      }
    }
  }

  & .home-localnav__item-picture_kitchen {
    background-image: url(/assets/images/s/home/icons/kitchen_light.svg);
  }
  & .home-localnav__item-picture_kidsroom {
    background-image: url(/assets/images/s/home/icons/kidsroom_light.svg);
  }
  & .home-localnav__item-picture_dressingroom {
    background-image: url(/assets/images/s/home/icons/dressingroom_light.svg);
  }
  & .home-localnav__item-picture_hallway {
    background-image: url(/assets/images/s/home/icons/hallway_light.svg);
  }
  & .home-localnav__item-picture_bedroom {
    background-image: url(/assets/images/s/home/icons/bedroom_light.svg);
  }
  & .home-localnav__item-picture_bathroom {
    background-image: url(/assets/images/s/home/icons/bathroom_light.svg);
  }
  & .home-localnav__item-picture_wardrobe {
    background-image: url(/assets/images/s/home/icons/wardrobe_light.svg);
  }
  & .home-localnav__item-picture_dresser {
    background-image: url(/assets/images/s/home/icons/dresser_light.svg);
  }
  & .home-localnav__item-picture_livingroom {
    background-image: url(/assets/images/s/home/icons/livingroom_light.svg);
  }
  & .home-localnav__item-picture_cabinet {
    background-image: url(/assets/images/s/home/icons/cabinet_light.svg);
  }
  & .home-localnav__item-picture_office {
    background-image: url(/assets/images/s/home/icons/office_light.svg);
  }
  & .home-localnav__item-picture_balcony {
    background-image: url(/assets/images/s/home/icons/balcony_light.svg);
  }
  & .home-localnav__item-picture_doors {
    background-image: url(/assets/images/s/home/icons/doors_light.svg);
  }
}
