.gallery-item {
  padding-bottom: 60px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

a.gallery {
  display: block;
  margin-bottom: 20px;
}

.adaptive-gallery-img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.gallery-item-price {
  display: block;
  font-size: 15px;
  font-weight: 300;
}

.gallery-item-caption {
  display: block;
  height: 24px;
  margin-bottom: 12px;
  line-height: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gallery-item-caption a {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

.gallery-item-caption a:hover {
  border-bottom: 2px solid;
  border-color: #eeeeee;
}

.gallery-item-caption i {
  font-style: normal;
  color: #767676;
}

.reveal {
  position: relative;
}

.reveal .hidden {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.reveal:hover .hidden {
  z-index: 25;
  opacity: 1;
}

#product-gallery-block {
  margin-bottom: 45px;
}

.product-info {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.product-heading {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.36rem;
  font-weight: 300;
  line-height: 1.3;
}

.product-info .price {
  margin: 24px 0;
  font-weight: 500;
  color: #3d3d3d;
}

.product-info p {
  margin: 8px 0;
}

.size-price {
  margin-left: 16px;
  font-weight: 500;
  color: #3d3d3d;
}

#dimensions {
  position: relative;
  margin-top: 16px;
}
#dimensions span {
  display: block;
}

.table--reset th,
.table--reset td {
  vertical-align: top;
}

.table--reset th {
  padding-bottom: 15px;
  text-align: left;
  font-weight: 300;
  color: #999;
}

.table--reset td {
  text-align: left;
  padding: 0 0 10px 10px;
}
