.row-anchor {
  display: block;
  margin-bottom: 40px;
}

.news-item {
  display: flex;
  padding: 32px;
  background-color: var(--contrast-color);

  & .news-item__image {
    flex: 0 0 auto;
    margin-right: 32px;

    & .img {
      width: 300px;
      height: 200px;
      margin: 0;
      background-size: cover;
      background-position: center center;
    }
  }

  & .news-item__content {
    flex: 1 1 auto;
  }

  & .news-item__date {
    margin: 0 0 8px;
    font-size: 14px;
  }

  & .news-item__title {
    margin: 0;
    font-weight: 500;
  }
}
