@import "partials/base.css";
@import "partials/header.css";
@import "partials/footer.css";
@import "partials/home.css";
@import "partials/collage.css";
@import "partials/gallery.css";
@import "partials/elements.css";
@import "partials/form.css";
@import "partials/news.css";
@import "partials/legacy.css";
@import "vendor/flexboxgrid2.css";
@import "vendor/micromodal.css";
@import "vendor/animate.css";

:root {
  --font-stack: "Roboto", Arial, sans-serif;
  --min-width: 320px;
  --max-width: 1440px;
  --mobile-nav-bp: 1200px;
  --ring-focus-rule: 0 0 0 3px rgba(104, 180, 255, 0.5);
  --contrast-color: #232323;
}

@custom-media --mobile-nav (max-width: 1200px);
@custom-media --mobile-nav (max-width: 1200px);
@custom-media --xs (max-width: 0);
@custom-media --sm (max-width: 576px);
@custom-media --md (max-width: 768px);
@custom-media --lg (max-width: 992px);
@custom-media --xl (max-width: 1200px);

h1,
h2,
h3,
h4,
h5,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
hr,
table,
fieldset,
figure,
pre,
.page-head,
.promo__block {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-32 {
  margin-bottom: 32px;
}

.m-b-24 {
  margin-bottom: 24px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.salon {
  margin-top: 40px;
  padding: 4rem;
  background: #232323;

  & .map {
    height: 20rem;
    width: 100%;
    margin-bottom: 1.5rem;

    & .ymaps-2-1-72-ground-pane {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }

  & p {
    line-height: 2;
  }

  @media (--xl) {
    & {
      padding: 2em;
    }
  }
}

.link {
  border-bottom: 1px solid #aaa;
  opacity: 1;
  transition: opacity ease-out 300ms;
  text-decoration: none;
  color: inherit;
  pointer-events: auto;

  &:hover {
    opacity: 0.56;
  }
}

.link-block {
  display: block;
  opacity: 1;
  transition: opacity ease-out 300ms;
  text-decoration: none;
  color: inherit;
  pointer-events: auto;

  &:hover {
    opacity: 0.56;
  }
}

/* .button {
  padding: 0;
  cursor: pointer;

  & .button-content {
    display: inline-block;
    padding: 4px 2px;
  }

  &:focus,
  & .button-content:focus {
    outline: none;
  }

  &:focus > .button-content {
    box-shadow: var(--ring-focus-rule);
  }

  &:not(:-moz-focusring):focus > .button-content {
    box-shadow: none;
  }
} */

.inline-icon {
  vertical-align: middle;
}

.list {
  margin: 0.5em 0 2em;
  line-height: 1.3;

  & .list-heading {
    margin: 2em 0 0;
  }

  & .li {
    margin: 0.5em 0;
  }
}

.photo-gallery {
  margin-top: -1.5rem;

  & .photo-gallery__item {
    margin: 1.5rem 0 0 0;
  }

  & .photo-gallery__caption {
    margin-top: 8px;
    text-align: center;

    &:empty {
      margin: 0;
    }
  }
}

.page-cover {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  & .page-cover__inner {
    position: relative;
    z-index: 1;
    padding: 6rem 0;
  }

  & .page-cover__heading {
    margin: 0;
    line-height: 1;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.025em;

    @media (--lg) {
      font-size: 32px;
    }
  }

  /* &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.55);
    pointer-events: none;
  } */
}

.adaptive {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.cf::after {
  content: "";
  display: table;
  clear: both;
}

.no-overflow {
  overflow: hidden;
}

.mi {
  margin-right: 4px;
  vertical-align: middle;
  font-size: 1.5em !important;

  &.mi_small {
    font-size: 1.15em !important;
  }
}

.comment {
  margin-bottom: 2rem;
  padding: 32px;
  background: #232323;

  & .comment__header {
    display: flex;
    justify-content: space-between;
  }
}

.u-text-center {
  text-align: center !important;
}

.u-align-center {
  align-items: center;
}

.u-no-wrap {
  white-space: nowrap;
}

.section {
  & .section-headline {
    margin-bottom: 3rem;
  }

  & .section-content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  & .content-block {
    clear: both;
    display: block;
    margin: 0 auto 80px;

    &:last-child {
      margin: 0 auto;
    }
  }
}

.section--large {
  padding-top: 112px;
  padding-bottom: 112px;

  @media (--md) {
    & {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

.section--medium {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-products-nav {
  padding-top: 0;
}

.section-contactUs {
  background: #232323;
}

.icon {
  height: 72px;
  width: 72px;
  margin: 0 auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 72px 72px;
}

.icon--small {
  height: 64px;
  width: 64px;
  background-size: 64px 64px;
}

.pane-content {
  background: #232323;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 64px;

  & .icon {
    width: 96px;
    height: 96px;
    background-size: 96px 96px;
    margin-bottom: 1.5rem;
  }

  @media (--md) {
    & {
      padding: 40px;
    }

    & .icon {
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
    }

    & .pane-content__headline {
      text-align: center;
    }
  }
}

.icon--large {
  height: 120px;
  width: 120px;
  background-size: 96px 96px;
}

.list-with-side-icons {
  margin-top: -1.5rem;

  & .item {
    display: flex;
    margin-top: 1.5rem;
    padding: 1.5rem;
    background: #232323;
  }

  & .icon {
    flex: 0 0 72px;
    margin: 0 1.5rem 0 0;
  }

  & .label {
    align-self: center;
  }
}

.list-with-top-icons {
  margin-top: -1.5rem;

  & .item {
    margin-top: 1.5rem;
  }

  & .label {
    margin: 0.5em 0 0;
    text-align: center;
  }
}

.list-with-bottom-icons {
  margin-top: -1.5rem;

  & .item {
    margin-top: 1.5rem;
  }

  & .label {
    margin: 0 0 0.5em;
  }
}

h1,
h2,
h3,
h4,
h5,
strong,
b {
  color: #fff;
}

h1 {
  font-weight: 700;
  font-size: 2.027rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.266rem;
  font-weight: 500;
}

h4 {
  font-size: 1.125em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}
